@{
    ViewData["Title"] = "Chuck Norris Facts";
}

<div class="jumbotron col-sm-12 text-center">
    <img src="../images/chuck.png" class="img-fluid" alt="chuck norris image" style="width:40%;">
    <br /><br />

          <div class="btn-group btn-group-justified" data-toggle="buttons">
              <label class="btn btn-danger active">
                  <input type="checkbox" autocomplete="off" checked> Geek
              </label>
              <label class="btn btn-warning">
                  <input type="checkbox" autocomplete="off"> Science
              </label>
              <label class="btn btn-info">
                  <input type="checkbox" autocomplete="off"> Music
              </label>
              <label class="btn btn-success">
                  <input type="checkbox" autocomplete="off"> Movies
              </label>
              <label class="btn btn-primary">
                  <input type="checkbox" autocomplete="off"> Travel
              </label>
          </div>

    <br /><br />

    <p class="lead">@ViewBag.Fact</p>
    <hr>
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Home" asp-action="RandomFact">Ask Chuck</a>
</div>